.heatmap-cell {
    width: 20px;
    height: 20px;
    border-radius: 4px;

    &.color1 {
        background-color: #3d3d3d;
    }

    &.color2 {
        background-color: #4a0e66;
    }

    &.color3 {
        background-color: #680099;
    }

    &.color4 {
        background-color: #9000d4;
    }

    &.color5 {
        background-color: #bd30ff;
    }
}
